<footer class="site-footer">
  {{ with site.GetPage "license.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s <br> %s </a>" .RelPermalink .Title .LinkTitle  | safeHTML }}<br>
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} {{ end }}
<br>
    Blog réalisé avec
    <a href="https://gitlab.com/sguyader/seb-guyader" target="_blank" rel="noopener"><i class="fab fa-gitlab"></i></a>,
    <a href="https://cran.r-project.org/" target="_blank" rel="noopener"><i class="fab fa-r-project"></i></a>,
    <a href="https://github.com/rstudio/blogdown" target="_blank" rel="noopener">blogdown</a>,
    et 
    <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic theme</a> pour
    <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a>.
  </p>
    {{ if ne .Type "docs" }}
    <span class="float-right" aria-hidden="true">
      <a href="#" id="back_to_top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}

</footer>
